/* reset */

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  overflow-x: hidden;
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
body, ul, li, a, h1, h2, h3, p, input, textarea, button, hr {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
input, textarea, button {
  font: inherit;
}
input:focus, 
textarea:focus, 
button:focus {
  outline: none;
}

/* elements */
.button {
  background-color: white;
  border: 1px solid;
  border-radius: 3px;
  padding: 0.3rem 1rem 0.2rem;
  font-weight: 700;
  cursor: pointer;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-light);
  opacity: 0.5;
}

/* fonts */
html {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
}

/* variables */
:root {
  --yellow: #EFD34E;
  --yellow-border: rgb(231, 201, 48);
  --red: #C83B3B;
  --red-border: rgb(182, 54, 54);
  --blackbrown: #313131;
  --blackbrown-border: #202020;
  --lighter-light: #F2F2F2;
  --light-light: rgb(226, 226, 226);
  --dark-light: #C4C4C4;
  --darker-light: #AAAAAA;
  --light-shadow: 0 1px 4px var(--dark-light);
  --element-label: #717171;
}


